{% extends 'base.html.twig' %}

{% block title %}- Listado{% endblock %}

{% block content %}

    <div id="form-search" class="row mgt30">
        <div class="col-sm-12">
            <table class="table table-striped table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th style="width: 15%;">Fecha Creación</th>
                        <th style="width: 15%;">Fecha Actualización</th>
                        <th style="width: 15%;">Dirección IP</th>
                        <th style="width: 40%;">User Agent</th>
                        <th style="width: 5%;">Pais</th>
                        <th style="width: 10%;">Evento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in userData %}
                        <tr>
                            <td>{{ data.createdAt | date('Y-m-d') }}</td>
                            <td>{{ data.updatedAt | date('Y-m-d') }}</td>
                            <td>{{ data.userIpAddress }}</td>
                            <td>{{ data.userAgent }}</td>
                            <td>{{ data.countryCode }}</td>
                            <td>{{ data.eventKey }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">No se hallaron datos...</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

