::placeholder {color: #5fa0bd!important; opacity: 0.6;}
.hide{display: none;}
.center{text-align: center!important;}
.right{text-align: right!important;}
.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 1030;background: url('../images/preload.png') center no-repeat #000;background-size: auto 60%;}

.bg-mine {background-color: #eae7fb!important;}
header.bg-primary {background-color: #ff5cb210!important;background-repeat: no-repeat;background-size: 100%;background-position: 0px -400px;}
.text-mine{color: #840000;}

.logoBg{position: absolute;width: 120px;height: 120px;background-size: 100%;background-repeat: no-repeat;left: 46%;}

.btn-primary{/*background-color: #e00292; border-color: #e00292;*/}
.btn-primary:hover{/*background-color: #E2027C;border-color: #E2027C;*/}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{/*background-color: #E2027C;border-color: #E2027C;*/}

.btn-green{background-color: #37B237; border-color: #37B237; color: #FFF;}
.btn-green:hover{background-color: #4EDC4E;border-color: #4EDC4E;}
.btn-green:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{background-color: #4EDC4E;border-color: #4EDC4E;}

.icoSocialMedia{margin: 2px 3px; border-radius: 8px;}

a.payForm.active, a.serviceForm.active{background: #e00292!important;}
.bold{font-weight: bold;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    header.bg-primary {background-position: 0px 0px;}
    .logoBg{left: 35%;top: 159px;}
    .se-pre-con{background-size: 50%;}
    #form-search input {padding: 2px;}
    #lastItem{margin: auto;width: 100%;}
    #modalPayEnd{margin: auto 2%;width: 96%;}
    .text1, .text2, .text2pay, .text1pay{font-size: 1.3rem;}
    .mgt30{margin-top: 30px;}
    #form-search .form-control{line-height:1; padding:0;}
    .grids-items{max-height:247px; min-height:247px;}
}
@media only screen and (min-width: 768px) {
    .btnTopLabel{margin-top:22px!important;}
    #lastItem{margin: auto 20%;width: 60%;}
    #modalPayEnd{margin: auto 30%;width: 40%;}
    .text1, .text2{font-size: 2.3rem;}
    .text1pay, .text2pay{font-size: 1.5rem;}
    .mgt30{margin-top: 50px;}
    .grids-items{max-height:400px;min-height:400px;margin-top:25px;}
}
#content{padding-top: 10px;}
.lblMarginButon{margin-bottom: 0; font-size: 0.7rem;}
.divMarginButon{margin-bottom: 5px;}
.sides-padding{padding: 15px;}
.grids-items{width: 100%;overflow: auto; padding: 1px;border-top: solid 1px #0d306a;border-bottom: solid 1px #0d306a;}
.grid-item{box-shadow: 0.5px 0.5px 0px 1px #dc3545;border-radius: 4px;height: 38px;margin: 5px 5px 0 0;min-width: 49%;font-size: 0.7rem;}
.my-row{width: 100%;margin-left: 0;display: flex;flex-wrap: wrap;}
#lastItem{position: fixed;top: 0px;z-index: 1030;text-align: center;color: #dc3545;text-shadow: 1px 1px #ffced2;}
#dataChanges{position: fixed;top: 55px;z-index: 10; width: 90%; margin:auto 5%; background-color: #FFFFFF;}
#modalPayEnd{position: fixed;top: 100px;z-index: 1032;background-color: #fff;border: solid 1px #ccc;border-radius: 5px;}
#modalPayEnd .payHead{background-color: #eae7fb;}
#modalPayEnd .payHead span{font-weight: bold;font-size: 0.75rem}
#modalPayEnd .payBody{margin: 15px auto;}
#modalPayEnd .payFoot{margin: 5px auto;}
#modalPayEnd .payButtons{padding-left: 0; padding-right: 0; margin-bottom: 10px; margin-top: 10px;}
.noPdMg{margin-left: 0;margin-right: 0; padding: 0;}
.noPdMgRg{margin-right: 0;padding-right: 0;}
#background{position: fixed; z-index: 1031; background-color: #1d56f9; opacity: 0.5; width: 100%; height: 100%; top: 0;}
.text1, .text1pay{color:#dc3545;}
.text2, .text2pay{color:#37b237;}
.ui-widget.ui-widget-content{background-color: #e1ebf2;overflow-x: auto;font-size: 0.85rem;}
.closeIcon{margin-top: 8px;color: #d50303;cursor: pointer;}
.objCursor{padding-left: 5px; color: #003eff; cursor: pointer;}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{color: #0d306a!important;}

/* otras cosas */
.ui-icon-circle-triangle-w{background-image:url('/images/icon_previus.jpg')!important; background-size:16px; background-position:0;}
.ui-icon-circle-triangle-e{background-image:url('/images/icon_next.jpg')!important; background-size:16px; background-position:0;}
.w1a{display: inline-block;width: 70%;  white-space: nowrap; text-overflow: clip;}
.w1b{display: inline-block;width: 30%; text-align: right;}
.btnTopLabelList{margin-top:2px;}
label{margin-bottom: 3px;}
.contPrdBc{min-height: 200px; max-height: 200px; overflow: auto; border: solid 1px #999; border-radius: 5px; margin-bottom: 15px;}
.inlineblock{display: inline-block;}
.br3{border-bottom: solid 1px #999;}
section.footer{margin-top: 10px;}
footer.page-footer{background-color: #4c7cdd; color: rgba(255,255,255,0.6);}
footer.page-footer a{color: #FFFFFF;}
.heigthInList{min-height: 500px;}
tbody.mdInvItems td{padding: 2px;}
.table .thead-light th {color: #053361;background-color: #8fc7ff;border-color: #60afff;}