{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset('images/logo.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Precio {% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/jquery-ui-1-12-1.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/base.css?v=2') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/business-frontpage.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style.css?v=2') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-mine fixed-top">
            <div class="container">
                <div class="col-xs-4">
                    <img src="{{ asset('images/logo.png') }}" style="height: 40px;"/>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-navicon" style="color: #003366; font-size:28px;"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('userdata_list') }}">Listado
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('userdata_create') }}">Crear</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block body %}
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}
        </div>

        {#opacidad para mostrar ventanas emerjentes#}
        <div id="background" class="hide"></div>

        {#contenedor para agregar html fuera del container#}
        {% block add_content %}{% endblock %}

        <!-- Footer -->
        <section class="footer">
            <footer class="page-footer font-small">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a href="https://example.com/" target="_blank">Example</a>
                </div>
                <!-- Copyright -->
            </footer>
        </section>
        <!-- Footer -->

        <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui-1-12-1.js') }}"></script>
        <script src="{{ asset('libs/bootstrap/js/bootstrap.min.js') }}"></script>

        {% block jscript %}{% endblock %}

        <script type="text/javascript">
            $(document).ready(function () {
                console.log("ready...");
            {% block jsfunction %}{% endblock %}

            });

        </script>
    </body>
</html>
